<section class="m-4">
    <div class="row">
        <div class="col-8">
            <div class="d-flex align-items-center justify-content-center" style="height: 15vw;">
                <h2 style="font-size: 7vw; font-style: italic;" class="text-center">Papeleria Consultas</h2>
            </div>
        </div>
        <div class="col-4">
            <figure class="figure">
                <img style="width: 25vw;" src="https://res.cloudinary.com/drsuxi6xo/image/upload/v1697854515/header/headerconsult_wrtsfj.png"
                    alt="No se detecto la imagen en la nube">
                <figcaption class="figure-caption text-center">Papeleria Consultas</figcaption>
            </figure>
        </div>
    </div>
</section>