{% extends 'base.html' %}
{% block title %}
{{ super() }}
Index
{% endblock%}
{% block content %}
<div class="container">
    <section>
        <div class="row">
            <h2 style="font-size: 5vw;" class="text-center">Tipos de Consultas</h2>
        </div>
    </section>
    <section>
        <div class="container" style="margin-bottom:100px">
            <div id="mCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#mCarousel" data-slide-to="0"></li>
                    <li data-target="#mCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#mCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img class="w-100 h-50"
                            src="https://res.cloudinary.com/drsuxi6xo/image/upload/v1701971949/index/numeros_zxtqeg.png"
                            style="width:100%;height:800px;">
                    </div>
                    <div class="item active">
                        <img class="w-100 h-50"
                            src="https://res.cloudinary.com/drsuxi6xo/image/upload/v1701971951/index/lugturis_wuwodt.png"
                            style="width:100%;height:800px;">
                    </div>
                    <div class="item">
                        <img class="w-100 h-50"
                            src="https://res.cloudinary.com/drsuxi6xo/image/upload/v1701971948/index/abecingles_qiqfqi.png"
                            style="width:100%;height:800px;">
                    </div>
                </div>
                <a class="left carousel-control" href="#mCarousel" data-slide="prev">
                    <span class="fa fa-chevron-left fa-lg" style="margin-top:400px"></span>
                </a>
                <a class="right carousel-control" href="#mCarousel" data-slide="next">
                    <span class="fa fa-chevron-right fa-lg" style="margin-top:400px"></span>
                </a>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <h2 class="display-1 text-center"><b>Que es una Consulta</b></h2>
            <div class="col-md-6">
                <p class="display-5">
                    La consulta permite extraer informacion de una base de datos. También permite controlar datos como:
                    cambiar, eliminar, agregar. Tambien se puede decir que la consulta es aquella solicitud que se da en una base de datos.
                    La consulta se debe basara un conjunto de codigos predefinidos en la cual la base de datos pueda entender.
                </p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img class="w-75"
                        src="https://res.cloudinary.com/drsuxi6xo/image/upload/v1702929423/index/indexconsulta_gglxqk.jpg"
                        alt="">
                    <caption></caption>
                </figure>
            </div>
        </div>
    </section>
</div>
{% endblock %}